:root{
  --header-font-color: rgb(78, 115, 147);

}

#root{
  max-width: 100vw;
  height: auto;
}

p{
  display: inline;
  padding: 0;
  margin: 0;
}
h1{
  padding: 0;
  margin: 0;
}

.App{
  max-width: 500px;
  display: grid;
  padding: 1rem;
  background: rgb(128,229,240);
  background: linear-gradient(180deg, rgba(128, 229, 240, 0.4) 0%, rgba(247,224,255,1) 100%);
  row-gap: 1rem;
}